## Visual Studio ##
.vs/
bin/
obj/
*.user
*.suo
[Tt]est[Rr]esults/

## Environment Variables ##
appsettings.Development.json
appsettings.Local.json

## Media Files ##
*.mp4
*.mov
*.avi
*.mkv
wwwroot/uploads/
